html {
	margin: 0;
	padding: 0;
	}
body {
	font: georgia, sans-serif;
	line-height: 1.4;
	color: #0c0;
	background: #333;
	padding: 10px;
	}


p {
	text-align: justify;
	width: 60%;
	}

article {
	margin-left: 25%
}

#sidebar img {
  float: left;
	margin-right: 2%;
	clear: both;
	margin-bottom: 15%;
}

.end-point {
	text-align: justify;
	width: 50%;
	margin-left: 10%;
}
